.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .centered-text {
    text-align: center;
  }
  .page-directory {
    list-style: none; 
    display: flex; 
    margin-right: 10px; 
  }
  .bordered {
    border: 10px solid lightblue;
    padding: 100px; 
    display: inline-block;
  }
  .title {
    border: 2px solid red; /* Specify border properties */
    padding: 10px; /* Add padding to create space between text and border */
    display: inline-block; /* Ensure the border wraps around the text */
  }