.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .centered-text {
    text-align: center;
  }
  .page-directory {
    list-style: none; 
    display: flex; 
  }
  
  .page-directory li {
    margin-right: 100px; 
  }