  .centered-text {
    text-align: center;
  }
  .page-directory {
    list-style: none;  
  }
  .page-directory {
    display: flex; 
    margin-right: 10px;
  }
  .bordered {
    border: 2px dashed red;
    padding: 10px; 
    display: inline-block;
  }