  .centered-text {
    text-align: center;
    margin-right: 1000px;
  }
  .page-directory {
    list-style: none;  
  }
  .page-directory {
    display: inline; 
    margin-right: 10px;
  }
  .bordered {
    border: 2px dashed red;
    padding: 10px; 
    display: inline-block;
  }