#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  /* Add other styles as desired */
}
.centered-text {
  text-align: center;
  margin-right: 10px;
}
.page-directory {
  list-style: none;  
}
.page-directory {
  display: flex; 
  margin-right: 10px;
}
.bordered {
  border: 2px solid red;
  padding: 10px; 
}
head{
  background-color: red;
}
main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}
