#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    /* Add other styles as desired */
  }
  .centered-text {
    text-align: center;
    margin-right: 10px;
  }
  .page-directory {
    list-style: none;  
  }
  .page-directory {
    display: inline; 
    margin-right: 10px;
  }
  .bordered {
    border: 2px dashed red;
    padding: 10px; 
    display: inline-block;
  }

  body {
    font-family: Arial, sans-serif;
  }