.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .centered-text {
    text-align: center;
  }
  .page-directory {
    list-style: none; 
    display: flex; 
    margin-right: 10px; 
  }
  .bordered {
    border: 2px solid red;
    padding: 0px; 
    display: inline-block;
  }